# emacs
auto-save-list
*~
*.dat
*.eld
ido.*
recentf
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/irony
emacs/.emacs.d/semanticdb
emacs/.emacs.d/server
emacs/.emacs.d/tmp
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/tramp
emacs/.emacs.d/.github_token
emacs/.emacs.d/.org-id-locations
emacs/.emacs.d/bookmarks
emacs/.emacs.d/org-clock-save.el
*.*#
*.cache

